
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<%= render 'home/header'%>
		</div>
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(/images/slide5.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<p class="fh5co-lead" >With extensive experience in all spheres, we focus on quality rather than quantity. We strive to ensure that effective communication and client satisfaction is attained. Each project adheres to high quality building standards and is overseen by our team of qualified professionals from start to finish.</p>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services-section">
			<div class="container">
				<div class="slider-text-inner desc">
   					<h2 class="heading-section" style="text-align:center" >We assist with:</h2>
   				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="/images/b-compass.svg" alt="blueprint">
							<h3>Residential, industrial & commercial building requirements</h3>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="/images/b-hammer.svg" alt="blueprint">
							<h3>Renovations & repairs</h3>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="/images/b-blueprint.svg" alt="blueprint">
							<h3>Project management</h3>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="/images/b-hotel.svg" alt="blueprint">
							<h3>Property consulting</h3>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner ">
							<img src="/images/b-engineer.svg" alt="blueprint">
							<h3>Choosing an architect and structural engineers</h3>
						</div>
					</div>
				</div>
				<div class="slider-text-inner desc">
   					<p class="fh5co-lead" style="text-align:center" >At HLG we believe in a hands-on approach and ensuring effective communication with a client</p>
   				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/main.js">
	$(function(){
		mainMenu();
		offcanvas();
		mobileMenuOutsideClick();
		contentWayPoint();
		sliderMain();
		fullHeight();
	});
</script>

	