<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="section-title">About Us</h3>
                    <p>At HLG we believe in a hands-on approach and ensuring effective communication with a client</p>
                </div>
                
                <div class="col-md-3">
                    <h3 class="section-title">Our Services</h3>
                    <ul>
                        <li><a href="#">Residential, industrial & commercial building requirements</a></li>
                        <li><a href="#">Renovations & repairs</a></li>
                        <li><a href="#">Project management</a></li>
                        <li><a href="#">Property consulting</a></li>
                        <li><a href="#">Choosing an architect and structural engineers</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="section-title">Our Contact</h3>
                    <ul class="contact-info">
                        <li><i class="icon-phone2"></i>071 870 4716</li>
                        <li><i class="icon-envelope2"></i><a href="#">info@honeyliongroup.co.za</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="https://www.facebook.com/honeyliongroup"><i class="icon-facebook2"></i></a>
                        <a href="https://www.instagram.com/honeyliongroup/?hl=en"><i class="icon-instagram"></i></a>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</footer>