<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<%= render 'home/header'%>
		</div>
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(/images/slide1.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2> Passionate </h2>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(/images/slide2.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2> Professional </h2>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(/images/slide3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2> Proficient</h2>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-team-section">
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<p style="color:black;">At Honey Lion Group (HLG) we project our passion for the construction industry. HLG specializes in all aspects of the construction industry. We strive to provide professional, high quality and cost-effective building solutions.
						</p>
					</div>
					<div class="col-md-6">
						<p style="color:black;">We at HLG are proud of our team and strive to always perform our tasks diligently and with the utmost integrity.
						</p>
					</div>
				</div>
			</div>	
		</div>
   </div>
</div>

<script type="text/javascript" src="/js/main.js">
	$(function(){
		mainMenu();
		offcanvas();
		mobileMenuOutsideClick();
		contentWayPoint();
		sliderMain();
		fullHeight();
	});
</script>
